* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: lightgrey;
  height: 100vh;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: black;
  height: 540px;
  width: 450px;
  border: 3px solid black;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display {
  height: 200px;
  width: 100%;
  padding: 30px;
  background-color: rgba(0, 255, 255, 0.5);

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.result {
  font-size: 70px;
}

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
  height: 80px;
  font-size: 30px;
  cursor: pointer;
}
